cache/
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack.old
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/2.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/1.pack
.vs/ProjectEvaluation/finalprojecttesting.projects.v5.1
.vs/ProjectEvaluation/finalprojecttesting.metadata.v5.1
.vs/FinalProjectTesting/v17/.suo
.vs/FinalProjectTesting/v17/.futdcache.v2
.vs/FinalProjectTesting/FileContentIndex/f0def5c2-0e09-483c-b4ed-219bb45c560a.vsidx
.vs/FinalProjectTesting/FileContentIndex/ec8824a0-197b-416a-b279-eec0d1ca7ace.vsidx
.vs/FinalProjectTesting/FileContentIndex/df6d9d85-a3d0-4689-bc8f-329c40efb101.vsidx
.vs/FinalProjectTesting/FileContentIndex/9f158345-2c76-4e99-b53b-6d10f6be606a.vsidx
.vs/FinalProjectTesting/FileContentIndex/7f2d5ac6-4303-4bd2-a8a6-62a5a2d14c11.vsidx
.vs/FinalProjectTesting/FileContentIndex/24bd2298-18ab-4006-b5bf-6f3ef6344ea6.vsidx
.vs/FinalProjectTesting/DesignTimeBuild/.dtbcache.v2
.vs/FinalProjectTesting/DesignTimeBuild/.dtbcache.v2
.vs/FinalProjectTesting/FileContentIndex/621da9d8-4dd6-4db7-99e3-2afe9970999c.vsidx
.vs/FinalProjectTesting/FileContentIndex/a668657b-8f7f-4336-b53b-0f56be9f810a.vsidx
.vs/FinalProjectTesting/FileContentIndex/d42ce951-4300-48a2-8bbc-0ec472940381.vsidx
.vs/FinalProjectTesting/v17/.suo
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/0.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/1.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/2.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack.old
.vs/FinalProjectTesting/DesignTimeBuild/.dtbcache.v2
.vs/FinalProjectTesting/v17/.suo
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/0.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/1.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/2.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack.old
.vs/FinalProjectTesting/DesignTimeBuild/.dtbcache.v2
.vs/FinalProjectTesting/v17/.suo
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/0.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/1.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/2.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack
FinalProjectTesting/ClientApp/.angular/cache/14.0.3/angular-webpack/155c5d2afba42f4c9132b197f6bec9ddd95d367e/index.pack.old
.vs/FinalProjectTesting/DesignTimeBuild/.dtbcache.v2
.vs/FinalProjectTesting/FileContentIndex/0c04031b-ef77-4760-9126-480d39b26a02.vsidx
.vs/FinalProjectTesting/FileContentIndex/6a531d56-3f27-43e9-b509-ae292485bdf6.vsidx
.vs/FinalProjectTesting/FileContentIndex/917635e1-e359-4413-9406-3dd01fcb0a14.vsidx
.vs/FinalProjectTesting/v17/.suo
.vs/FinalProjectTesting/DesignTimeBuild/.dtbcache.v2
.vs/FinalProjectTesting/v17/.suo
.vs/FinalProjectTesting/FileContentIndex/f011b49f-a6b2-4d04-9c04-49b2cd2a3931.vsidx
.vs/FinalProjectTesting/DesignTimeBuild/.dtbcache.v2
.vs/FinalProjectTesting/FileContentIndex/9e09b401-f46a-4ded-b3c3-5916f88c9029.vsidx
.vs/FinalProjectTesting/FileContentIndex/d05ae1f8-d202-4738-98e2-2ad4cc5e6b40.vsidx
.vs/FinalProjectTesting/v17/.suo
