<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col col-8">
      <h1>History</h1>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-2">
      <p><b>Player Name</b></p>
    </div>
    <div class="col col-6">
      <p>Player's submitted prompt</p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-2">
      <p><b>Player Name</b></p>
    </div>
    <div class="col col-6">
      <p>Player's submitted prompt</p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-2">
      <p><b>Player Name</b></p>
    </div>
    <div class="col col-6">
      <p>Player's submitted prompt</p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-2">
      <p><b>Player Name</b></p>
    </div>
    <div class="col col-6">
      <p>Player's submitted prompt</p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-2">
      <p><b>Player Name</b></p>
    </div>
    <div class="col col-6">
      <p>Player's submitted prompt</p>
    </div>
    <div class="col"></div>
  </div>
</div>






