<div class="container newGamePage">
  <div class="row">
    <div class="col"></div>
    <div class="col col-6">
      <h1>Let's go!</h1>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-6">
      <button type="button" class="hilite">New Game</button>
      <button type="button" class="">Join Game</button>
      <button type="button" class="">How To Play</button>
    </div>
    <div class="col"></div>
  </div>
</div>

<!-- new game form test -->
<div class="container newGameForm">
  <div class="row">
    <div class="col"></div>
    <div class="col col-6">
      <p><i>testing area for new game form</i></p>
      <form>
        <!--<div class="form-group">
    <label for="exampleInputEmail1">Game Name</label>
    <input type="" class="form-control" id="" aria-describedby="" placeholder="Goofy Goobers">
  </div>-->
        <div class="form-group">
          <label for="#">Your Name</label>
          <input type="#" class="form-control" id="#" placeholder="CoolUser420">
        </div>
        <div class="form-group">
          <label for="#">Number of Players</label>
          <select class="form-select">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="#">Number of Rounds</label>
          <select class="form-select">
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep it PG</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="getPlayAndRoundNum()">Start Game</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
