<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col col-8">
      <h1>Thanks, [player name]! Now you can add your own prompt to the mix!</h1>
      <form>
        <div class="form-group">
          <label for="playerPrompt"></label>
          <input name="playerPrompt" value="Your prompt..." style="width: 90%" />
          <p class="tiny">Maximum of 120 characters.</p>
        </div>
        <!--category dropdown-->
        <button type="submit" class="optionButton" [routerLink]="['/history']">Submit</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>









