<!--<h1>Enter Your Name</h1>
<form action="createPlayer" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" id="playerName" #playerName />
    <input type="submit" />
    <p class="tiny">Maximum of 50 characters.</p>
    <button type="submit" class="btn-primary" (click)="createPlayer(playerName.value)">Submit</button>
  </div>
</form>
<br />
<br />-->
<h1>T-R-E-M-E-N-D-O-R Players</h1>
<table class="table table-striped" width="100%">
  <thead>

  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <app-modify-player [player]="player"></app-modify-player>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col col-8" style="text-align: center;">
      <button class="optionButton" onClick="window.location.reload();">Refresh</button>
    </div>
    <div class="col"></div>
  </div>
</div>
