
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col col-8">
      <h1 style="line-height: 52px;">Welcome to the <br /> T-R-E-M-E-N-D-O-R <br /> Experience</h1>
      <h2>T-R-E-M-E-N-D-O-R was created with a specially curated prompt deck to entice players of all ages to combat boredom in just a few clicks.</h2>
      <h2>Click "Let's Go" and register your player to join the fun!</h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-8" style="text-align: center;">
      <button type="button" class="optionButton" [routerLink]="['/create-player']">Let's Go!</button>
     
      <button class="optionButton" style="margin-top: 20px; background-color: #ffdb00"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="text-decoration: none; color: #fff; margin-top 10px; font-weight: bold; font-size: 100pt;">Donate to our Venmo</a></button>
    </div>
    <div class="col"></div>
  </div>
</div>
