
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col col-8">
      <h1>Stressed out?</h1>
      <h2>Generate some good laughs in seconds. And do it over and over again until you feel better. Every click is a unique experience. You'll even get to leave a little peice of you behind (lol someone else needs to write this).</h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col col-8">
      <button type="button" class="optionButton" [routerLink]="['/create-player']">Let's Go!</button>
    </div>
    <div class="col"></div>
  </div>
</div>
